*{
    margin: 0;
    padding: 0;
}


.container{
    margin: 5%;
    padding: 5%;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

img{
    width: 50%;
    height: auto;
    margin-left: 20%;
    position: relative;
    transition: all 1s ease-in-out;
}
img:hover{
    transform: rotate(360deg) scale(.5);
    -webkit-transform: rotate(360deg) scale(.5);
}
h1{
    margin: 1rem auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    background-color: rgba(247, 0, 0, 0.699);
    color: whitesmoke;
    border: 2px solid black;
    box-shadow: 4px 7px rgb(169, 92, 92);
    border-radius: 2rem;
    width: 75%;
}
h4{
    margin: 2rem auto;
    text-align: center;
    font-size: 2rem;
    box-shadow: 4px 7px rgb(65, 6, 6);
    border-radius: 2rem;
}
p{
    text-indent: 30px;
    text-align: center;
    font-size: 0.9rem;
}
.isim{
    margin:2rem 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    text-align: right;
    color: rgb(65, 6, 6);
}